<div class="container">
  <div class="row">
    <div class="col-md-11">

      <div class="row">

        <div class="col-md-3">
          <mat-form-field appearance="outline">
          <mat-label>title</mat-label>
          <input type="text" #title (keyup)="searchByTiltle(title)" matInput placeholder="ex. ahmed" />
        </mat-form-field>
      </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>search by user</mat-label>
            <mat-select  (selectionChange)="searchByUserId($event)">
              <mat-option value="652da492a29b88a04040014d">saed</mat-option>
              <mat-option value="652da3a2a29b88a040400144">ahmed</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>search by date</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input #dateFrom matStartDate placeholder="Start date">
              <input #dateTo (dateChange)="searchByDate(dateFrom,dateTo)" matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
          </div>
      </div>

  </div>
  <div class="col-md-1">
    <div>
      <button (click)="addNewTask()" mat-raised-button color="accent">Add</button>
  </div>
  </div>
  </div>

  <table mat-table [dataSource]="dataSources" class="mat-elevation-z8">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> position </th>
      <td mat-cell *matCellDef="let element">
        <img [src]="baseUrl +'/'+ element.image" width="70px" height="70px" class="p-2"/>
      </td>
    </ng-container>



    <!-- Weight Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

   <!-- Symbol Column -->
   <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef> User </th>
    <td mat-cell *matCellDef="let element"> {{element.user}} </td>
  </ng-container>

   <!-- Symbol Column -->
   <ng-container matColumnDef="deadline">
    <th mat-header-cell *matHeaderCellDef> deadline </th>
    <td mat-cell *matCellDef="let element"> {{element.deadline}} </td>
  </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button (click)="updateTask(element)" mat-raised-button color="primary">update</button>

          <button mat-raised-button color="warn"(click)="deleteTask(element._id)">delete</button>

        </td>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


