<div class="container  d-flex align-items-center">
  <div class="row  d-flex justify-content-around">
    <div class="col-md-5">
      <img src="../../../../assets/images/login.jpg" class="w-100 h-auto" />
    </div>
    <div class="col-md-6">
      <mat-card class="p-4">
        <mat-card-header>
          <mat-card-title class="text-primary">login</mat-card-title>
        </mat-card-header>
        <form [formGroup]="loginForm">
          <mat-card-content class="d-flex flex-column">
            <mat-form-field appearance="outline">
              <mat-label>email</mat-label>
              <input type="email" formControlName="email" matInput placeholder="Ex. test@gmail.com">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Enter your password</mat-label>
              <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <button (click)="submitLogin(loginForm)" class="w-25 mx-auto" mat-raised-button color="primary">login</button>
          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div>
</div>





